*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul.navigazione>li{
    list-style-type: none;
}

.navigazione{
    display: flex;
    justify-content: space-between;
}

li{
    padding-right: 2rem;
}

.container{
    margin: auto;
    width: 1500px;

}

.logo-small{
    padding: 1rem;
    display: inline-block;
    position: absolute;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.intro{
    text-align: center;
    background-color: #b4d0e7;
    margin-top: 1.5rem;
    padding: 3rem 14rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.prova-gratuita{
    display: flex;
    position: relative;
    padding-top: 2rem;
    flex-direction: column;
    width: 26rem;
    padding-bottom: 10rem;
}


.jumbo{
    width: 45%;
    position: absolute;
    top: 177px;
    right: 194px;
}

main{
    margin: auto;
    width: 1500px;
    padding: 3rem 20rem;
}

.fatturazione{
    list-style-type: circle;
    display: flex;
    padding: 3rem 0;
}

.abbonamenti{
    display: flex;
    justify-content: space-between;
}

.tipologia{
    border: 2px black;
    width: calc(100%/3);
    height: 30rem;
    margin-right: 2rem;
  }

  .contatto{
    width: 100%;
  }

.partner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4rem 0;
        width: 100%;
}

.operazioni{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6rem;
}

.padding-right{
    padding-right: 2rem;
}

