*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header, .partner, .operazioni, .designit{
    font-size: 12px;
}

ul.navigazione, ul.info-generali, ul.punti-salienti>li{
    list-style-type: none;
    padding-left: 1rem;
}

.navigazione{
    display: flex;
    justify-content: space-between;
}

li{
    padding-right: 2rem;
}

.logo-small{
    padding-bottom: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.btn{
    border: none;
}

.btn-blue{
    background-color: #0061ff;
    color: white;    
}

.btn-accedi{
    padding: 0.2rem 0.4rem;
}

.btn-prova{
    padding: 5px 0px;
  margin: 25px 100px 25px 0;
  width: 100%;
}


.btn-30gg{
    padding: 0.5rem;
    margin: 2rem 0;
}

.btn-partner{
    border-color:black ;
    border-style: solid;
    border-width: 0.5px;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.freccia{
    font-size: 30px;
    padding: 3rem 0 0.7rem;
}

.titolo{
    font-size: 64px;
    text-align: left;
}

.container{
    text-align: center;
    background-color: #b4d0e7;
}

.intro{
    width: 800px;
    margin: 0 auto;
    padding-top: 3rem;
}

.prova-gratuita{
    display: flex;
    position: relative;
    padding-top: 2rem;
    flex-direction: column;
    width: 35%;
    text-align: left;
}
.jumbo{
    width: 40%;
    position: absolute;
    top: 308px;
    right: 272px;
}


main{
    margin: 0 auto;
    width: 750px;
    padding: 8rem 0;
}

.titolo-sezioni{
    font-weight: 600;
    font-size: 35px;
}

.fatturazione{
    list-style-type: circle;
    display: flex;
    padding: 3rem 0;
}

.abbonamenti{
    display: flex;
    justify-content: space-between;
}

.tipologia{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;    
  }

.border{
    border-style: solid;
    border-width: 0.2px;
    border-color: #eeeeee;
}

.center{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 0.2px;
    border-bottom-color: #eeeeee;
}

.advanced{
    margin: 0 2rem;
}

.font-gray{
    color: gray;
}

.font-bold{
    font-weight: bold;
}

.blue{
    color:#0b67ff;
}

article{
    font-size: 12px;
}

.contatto{
    width: 100%;
}

.partner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    
}

.operazioni{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 3rem;
}

.padding-right{
    padding-right: 2rem;
}

.padding-left{
    padding-left: 1rem;
}

.padding-bottom{
    padding-bottom: 2rem;
}

.punti-salienti{
    padding-top: 4rem;
}

.enterprise{
    display: flex;
    justify-content: space-around;
}

.contatto{
    margin-top: 2rem;
}

.partner>img{
    width: 475px;
}

.partner>div{
    padding-left: 2rem;
}

.operazioni section>img{
    width: 100%;
}

.operazioni section div>h1{
    padding-bottom: 2rem;
}

.scopri>h1{
    padding-top: 4rem;
}

.scopri nav>a{
    font-size: 12px;
}

.blocco-img section>img{
    width: 50%;
    
}

.company{
    display: flex;
    justify-content: space-between;
}


.blocco-img{
    display: flex;
    color: white;
}

.blocco-img>section{
        width: 250px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.blocco-img section>img{
    color: white;
}

.background-green{
    background-color: #a2d39b;
    border-color: #d1e9cd;
    border-style: solid;
    border-width: 15px;
}

.background-bordeaux{
   background-color: #61082b;
}

.background-blue{
    background-color: #0093ce;
}

.background-red{
    background-color: #ff1c1c;
}

.designit section>img{
    width: 50%;
    padding-bottom: 5rem;
}

.designit{
    padding: 2rem 2rem;
}